<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Payment Methods</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">

                                    <div id="con-close-modal-deletePM" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Delete Payment Method</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <p>Are you sure you want to delete?</p>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveDeletePM()"
                                                            class="btn btn-danger waves-effect waves-light">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-editPaymentMethod" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Edit Payment Method</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="dx-fieldset">
                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Name</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Name"
                                                                         dx-validator="nameValidationRules"
                                                                         dx-text-box="parentForm.Name"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">AccountName</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.AccountName"
                                                                         dx-validator="accountNameValidationRules"
                                                                         dx-text-box="parentForm.AccountName"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">PayBill</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.PayBill"
                                                                         dx-validator="payBillValidationRules"
                                                                         dx-text-box="parentForm.PayBill"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">TillNumber</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.TillNumber"
                                                                         dx-validator="tillNumberValidationRules"
                                                                         dx-text-box="parentForm.TillNumber"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">AccountNumber</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.AccountNumber"
                                                                         dx-validator="accountNumberValidationRules"
                                                                         dx-text-box="parentForm.AccountNumber"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Instruction</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Instruction"
                                                                         dx-validator="instructionValidationRules"
                                                                         dx-text-box="parentForm.Instruction"></div>
                                                                </div>
                                                            </div>




                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveEditPaymentmethod(data)"
                                                            class="btn btn-info waves-effect waves-light">
                                                        Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-addNewPaymentMethod" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Add New Payment Method</h4>
                                                </div>
                                                <form ng-submit="onFormSubmitPaymentmethod($event)">

                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <p style="color: darkred">*If there is no PayBill or Till number, please enter 0</p>
                                                            <div class="dx-fieldset">
                                                               <div class="dx-field">
                                                                    <div class="dx-field-label">Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Name"
                                                                             dx-validator="nameValidationRules"
                                                                             dx-text-box="parentForm.Name"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">AccountName</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.AccountName"
                                                                             dx-validator="accountNameValidationRules"
                                                                             dx-text-box="parentForm.AccountName"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">PayBill</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.PayBill"
                                                                             dx-validator="payBillValidationRules"
                                                                             dx-text-box="parentForm.PayBill"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">TillNumber</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.TillNumber"
                                                                             dx-validator="tillNumberValidationRules"
                                                                             dx-text-box="parentForm.TillNumber"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">AccountNumber</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.AccountNumber"
                                                                             dx-validator="accountNumberValidationRules"
                                                                             dx-text-box="parentForm.AccountNumber"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Instruction</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Instruction"
                                                                             dx-validator="instructionValidationRules"
                                                                             dx-text-area="parentForm.Instruction"></div>
                                                                    </div>
                                                                </div>




                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" dx-button="submitButtonOptionsPaymentMethod"
                                                                class="btn btn-info waves-effect waves-light">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- /.modal -->

                                    <button id="addToTable" class="btn btn-primary waves-effect waves-light"
                                            data-toggle="modal" ng-click="clearData()" data-target="#con-close-modal-addNewPaymentMethod">Add <i
                                            class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <form class="form-inline" style="float: right">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" ng-model="search" class="form-control"
                                                   placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th ng-click="sort('Name')">Name<span class="glyphicon sort-icon"
                                                                                         ng-show="sortKey=='Name'"
                                                                                         ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('AccountName')">AccountName<span class="glyphicon sort-icon"
                                                                              ng-show="sortKey=='AccountName'"
                                                                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('TillNumber')">TillNumber<span class="glyphicon sort-icon"
                                                                          ng-show="sortKey=='TillNumber'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('AccountNumber')">AccountNumber<span class="glyphicon sort-icon"
                                                                                ng-show="sortKey=='AccountNumber'"
                                                                                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Instruction')">Instruction<span class="glyphicon sort-icon"
                                                                                            ng-show="sortKey=='Instruction'"
                                                                                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>

                                    <th ng-click="sort('Timestamp')">Date<span class="glyphicon sort-icon"
                                                                               ng-show="sortKey=='Timestamp'"
                                                                               ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="payment in paymentMethodData | orderBy:sortKey:reverse | filter:search|itemsPerPage:10">
                                    <th scope="row">{{payment.Name}}</th>
                                    <td>{{payment.AccountName}}</td>
                                    <td>{{payment.TillNumber}}</td>
                                    <td>{{payment.AccountNumber}}</td>
                                    <td>{{payment.Instruction}}</td>
                                    <td>{{payment.Timestamp | date}}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-warning waves-effect w-sm waves-light m-b-5"
                                                ng-click="editPaymentMethod(payment)" data-toggle="modal"
                                                data-target="#con-close-modal-editPaymentMethod">Edit
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger waves-effect w-sm waves-light m-b-5"
                                                ng-click="deletePM(payment)" data-toggle="modal"
                                                data-target="#con-close-modal-deletePM">Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div><!-- end col -->

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Fees</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">

                                    <div id="con-close-modal-deleteFee" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Delete Fee</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <p>Are you sure you want to delete?</p>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveDelete()"
                                                            class="btn btn-danger waves-effect waves-light">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-editFee" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Edit Fee</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="dx-fieldset">


                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Select Student</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.StudentId"
                                                                         dx-lookup="addStudent.studentLookup"></div>
                                                                </div>
                                                            </div>
                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Select Payment Method</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.PaymentMethodId"
                                                                         dx-lookup="addPaymentMethod.paymentMethodLookup"></div>
                                                                </div>
                                                            </div>
                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Term</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Term"
                                                                         dx-text-box="parentFormEdit.Term"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Amount</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Amount"
                                                                         dx-text-box="parentFormEdit.Amount"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Paid</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Paid"
                                                                         dx-text-box="parentFormEdit.Paid"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Balance</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Balance"
                                                                         dx-text-box="parentFormEdit.Balance"></div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveEdit(data)"
                                                            class="btn btn-info waves-effect waves-light">
                                                        Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-addNewFee" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Add New Fee</h4>
                                                </div>
                                                <form ng-submit="onFormSubmitFee($event)">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="dx-fieldset">
                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Select Student</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.StudentId"
                                                                             dx-validator="studentValidationRules"
                                                                             dx-lookup="addStudent.studentLookup"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Select Payment Method
                                                                    </div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.PaymentMethodId"
                                                                             dx-validator="paymentMethodValidationRules"
                                                                             dx-lookup="addPaymentMethod.paymentMethodLookup"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Term</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Term"
                                                                             dx-validator="termValidationRules"
                                                                             dx-lookup="Term.Type"></div>
                                                                    </div>
                                                                </div>


                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Amount</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Amount"
                                                                             dx-validator="amountValidationRules"
                                                                             dx-text-box="parentForm.Amount"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Paid</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Paid"
                                                                             dx-validator="paidValidationRules"
                                                                             dx-text-box="parentForm.Paid"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Balance</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Balance"
                                                                             dx-validator="balanceValidationRules"
                                                                             dx-text-box="parentForm.Balance"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div id="summary" dx-validation-summary="{ }"></div>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" dx-button="submitButtonOptions"
                                                                class="btn btn-info waves-effect waves-light">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- /.modal -->

                                    <button id="addToTable" class="btn btn-primary waves-effect waves-light"
                                            data-toggle="modal" ng-click="clearData()" data-target="#con-close-modal-addNewFee">Add <i
                                            class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <form class="form-inline" style="float: right">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" ng-model="search" class="form-control"
                                                   placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th ng-click="sort('StudentName')">Student Name<span class="glyphicon sort-icon"
                                                                                         ng-show="sortKey=='StudentName'"
                                                                                         ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Amount')">Amount<span class="glyphicon sort-icon"
                                                                              ng-show="sortKey=='Amount'"
                                                                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Paid')">Paid<span class="glyphicon sort-icon"
                                                                          ng-show="sortKey=='Paid'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Balance')">Balance<span class="glyphicon sort-icon"
                                                                                ng-show="sortKey=='Balance'"
                                                                                ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>

                                    <th ng-click="sort('Timestamp')">Date<span class="glyphicon sort-icon"
                                                                               ng-show="sortKey=='Timestamp'"
                                                                               ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="fee in fees | orderBy:sortKey:reverse | filter:search|itemsPerPage:10">
                                    <th scope="row">{{fee.StudentName}}</th>
                                    <td>{{fee.Amount}}</td>
                                    <td>{{fee.Paid}}</td>
                                    <td ng-if="fee.Balance > 0"><span class="label label-danger">{{fee.Balance}}</span>
                                    </td>
                                    <td ng-if="fee.Balance == 0"><span
                                            class="label label-success">{{fee.Balance}}</span></td>
                                    <td>{{fee.Timestamp | date}}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-warning waves-effect w-sm waves-light m-b-5"
                                                ng-click="edit(fee)" data-toggle="modal"
                                                data-target="#con-close-modal-editFee">Edit
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger waves-effect w-sm waves-light m-b-5"
                                                ng-click="delete(fee)" data-toggle="modal"
                                                data-target="#con-close-modal-deleteFee">Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div><!-- end col -->

            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
