<!-- Top Bar Start -->
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="index.html" class="logo">
                <i class="zmdi zmdi-toys icon-c-logo"></i><span>Elimu<span>Share</span></span>
                <!--<span><img src="assets/images/logo.png" alt="logo" style="height: 20px;"></span>-->
            </a>
        </div>
    </div>


    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"
                            class="button-menu-mobile open-left waves-effect waves-light">
                        <i class="zmdi zmdi-menu"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <!--
                <form role="search" class="navbar-left app-search pull-left hidden-xs">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="#"><i class="fa fa-search"></i></a>
                </form>
-->

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>
                        <!-- School Name -->
                        <div class="notification-box">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <a href="javascript:void(0);" class="right-bar-toggle">
                                        {{Name}}
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <!-- End School Name -->
                    </li>

                    <li class="dropdown user-box">
                        <a href="javascript:void(0)" class="dropdown-toggle waves-effect waves-light profile "
                           data-toggle="dropdown" aria-expanded="true">
                            <img ng-src="{{LogoUrl}}" alt="school-logo" class="img-circle user-img">
                            <div class="user-status away"><i class="zmdi zmdi-dot-circle"></i></div>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="#!/profile"><i class="ti-user m-r-5"></i> Profile</a></li>
                            <li><a href="#!/logout"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->