<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu"  uib-collapse="isCollapsed">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Navigation</li>

                <li class="has_sub">
                    <a ng-href="#!/dashboard" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#!/students" class="waves-effect"><i class="zmdi zmdi-accounts-list"></i> <span> Students </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#!/parents" class="waves-effect"><i class="zmdi zmdi-accounts-alt"></i> <span> Parents Directory</span> </a>
                </li>

                <li class="has_sub">
                    <a href="#!/subjects" class="waves-effect"><i class="zmdi zmdi-file"></i> <span> Subjects </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#!/exams" class="waves-effect"><i class="zmdi zmdi-file-text"></i> <span> Exams </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#!/fees" class="waves-effect"><i class="zmdi zmdi-money-box"></i> <span> Fees </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#!/events" class="waves-effect"><i class="zmdi zmdi-calendar"></i> <span> Events </span> </a>
                </li>


                <li class="has_sub">
                    <a href="#!/notifications" class="waves-effect"><i class="zmdi zmdi-notifications"></i> <span> Notifications </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#!/uploader" class="waves-effect"><i class="zmdi zmdi-upload"></i> <span> Uploader </span> </a>
                </li>

                <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- Left Sidebar End -->