<!-- Begin page -->
<div id="wrapper">
  <!-- Top Bar Start -->
  <div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
      <div class="text-center">
        <a href="index.html" class="logo">
          <i class="zmdi zmdi-toys icon-c-logo"></i><span>Flac<span>to</span></span>
          <!--<span><img src="assets/images/logo.png" alt="logo" style="height: 20px;"></span>-->
        </a>
      </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="">
          <div class="pull-left">
            <button class="button-menu-mobile open-left waves-effect waves-light">
              <i class="zmdi zmdi-menu"></i>
            </button>
            <span class="clearfix"></span>
          </div>

          <form role="search" class="navbar-left app-search pull-left hidden-xs">
            <input type="text" placeholder="Search..." class="form-control">
            <a href="#"><i class="fa fa-search"></i></a>
          </form>


          <ul class="nav navbar-nav navbar-right pull-right">
            <li>
              <!-- Notification -->
              <div class="notification-box">
                <ul class="list-inline m-b-0">
                  <li>
                    <a href="javascript:void(0);" class="right-bar-toggle">
                      <i class="zmdi zmdi-notifications-none"></i>
                    </a>
                    <div class="noti-dot">
                      <span class="dot"></span>
                      <span class="pulse"></span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- End Notification bar -->
            </li>

            <li class="dropdown user-box">
              <a href="#" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
                <img src="assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle user-img">
                <div class="user-status away"><i class="zmdi zmdi-dot-circle"></i></div>
              </a>

              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
                <li><a href="javascript:void(0)"><i class="ti-lock m-r-5"></i> Lock screen</a></li>
                <li><a href="javascript:void(0)"><i class="ti-power-off m-r-5"></i> Logout</a></li>
              </ul>
            </li>
          </ul>

        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>

          <li class="text-muted menu-title">Navigation</li>

          <li class="has_sub">
            <a href="index.html" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
          </li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span> User Interface </span> <span class="menu-arrow"></span> </a>
            <ul class="list-unstyled">
              <li><a href="ui-buttons.html">Buttons</a></li>
              <li><a href="ui-cards.html">Cards</a></li>
              <li><a href="ui-typography.html">Typography </a></li>
              <li><a href="ui-checkbox-radio.html">Checkboxs-Radios</a></li>
              <li><a href="ui-icons.html">Icons</a></li>
              <li><a href="ui-modals.html">Modals</a></li>
              <li><a href="ui-images.html">Images</a></li>
              <li><a href="ui-components.html">Components</a>
            </ul>
          </li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-case"></i> <span> Admin UI </span> <span class="menu-arrow"></span> </a>
            <ul class="list-unstyled">
              <li><a href="admin-masonry.html">Masonry</a></li>
              <li><a href="admin-notification.html">Notification</a></li>
              <li><a href="admin-range-slider.html">Range Slider</a></li>
              <li><a href="admin-sweetalert.html">Sweet Alert</a>
            </ul>
          </li>

          <li class="has_sub">
            <a href="widgets.html" class="waves-effect"><i class="zmdi zmdi-layers"></i> <span> Widgets </span> </a>
          </li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-text"></i><span class="label label-default pull-right">6</span><span> Forms </span> </a>
            <ul class="list-unstyled">
              <li><a href="form-elements.html">Form Elements</a></li>
              <li><a href="form-advanced.html">Advanced Form</a></li>
              <li><a href="form-validation.html">Form Validation</a></li>
              <li><a href="form-wizard.html">Form Wizard</a></li>
              <li><a href="form-summernote.html">Summernote</a></li>
              <li><a href="form-uploads.html">Form Uploads</a></li>
            </ul>
          </li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-list"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
              <li><a href="tables-basic.html">Basic Tables</a></li>
              <li><a href="tables-datatable.html">Data Table</a></li>
              <li><a href="tables-editable.html">Editable Table</a></li>
            </ul>
          </li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-chart"></i><span> Charts </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
              <li><a href="chart-flot.html">Flot Chart</a></li>
              <li><a href="chart-morris.html">Morris Chart</a></li>
              <li><a href="chart-chartist.html">Chartist Charts</a></li>
              <li><a href="chart-other.html">Other Chart</a></li>
            </ul>
          </li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-map"></i><span> Maps </span> <span class="menu-arrow"></span></a>
            <ul class="list-unstyled">
              <li><a href="map-google.html">Google Maps</a></li>
              <li><a href="map-vector.html">Vector Maps</a></li>
            </ul>
          </li>

          <li class="text-muted menu-title">More</li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-item"></i><span class="label label-default pull-right">8</span><span> Pages </span></a>
            <ul class="list-unstyled">
              <li><a href="page-starter.html">Starter Page</a></li>
              <li><a href="page-timeline.html">Timeline</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
              <li><a href="page-recoverpw.html">Recover Password</a></li>
              <li><a href="page-lock-screen.html">Lock Screen</a></li>
              <li><a href="page-confirm-mail.html">Confirm Mail</a></li>
              <li><a href="404.html">Error 404</a></li>
            </ul>
          </li>

          <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="ti-share"></i><span> Multi Level </span> <span class="menu-arrow"></span></a>
            <ul>
              <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect"><span>Menu Level 1.1</span> <span class="menu-arrow"></span></a>
                <ul style="">
                  <li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li>
                  <li><a href="javascript:void(0);"><span>Menu Level 2.2</span></a></li>
                  <li><a href="javascript:void(0);"><span>Menu Level 2.3</span></a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);"><span>Menu Level 1.2</span></a>
              </li>
            </ul>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>
  <!-- Left Sidebar End -->
</div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<ul class="menu">
  <li><a href="#/view1">view1</a></li>
  <li><a href="#/view2">view2</a></li>
  <li><a href="#!/view1">view1</a></li>
  <li><a href="#!/view2">view2</a></li>
</ul>
<h1> Testing View 2</h1>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
