<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Vacancies</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">

                                    <div id="con-close-modal-deleteVacancy" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Delete Vacancy</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <p>Are you sure you want to delete?</p>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveDelete()"
                                                            class="btn btn-danger waves-effect waves-light">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-editVacancy" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Edit Vacancy</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="dx-fieldset">


                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Title</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Title"
                                                                         dx-text-box="parentFormEdit.Title"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Description</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Description"
                                                                         dx-text-box="parentFormEdit.Description"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Number</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Number"
                                                                         dx-text-box="parentFormEdit.Number"></div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveEdit(data)"
                                                            class="btn btn-info waves-effect waves-light">
                                                        Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-addNewVacancy" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Add New Vacancy</h4>
                                                </div>
                                                <form ng-submit="onFormSubmitVacancy($event)">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="dx-fieldset">
                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Title</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Title" dx-validator="titleValidationRules"
                                                                             dx-text-box="parentForm.Title"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Description</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Description" dx-validator="descriptionValidationRules"
                                                                             dx-text-box="parentForm.Description"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Number of vacancy
                                                                        available
                                                                    </div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Number" dx-validator="numberValidationRules"
                                                                             dx-text-box="parentForm.Number"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div id="summary" dx-validation-summary="{ }"></div>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" dx-button="submitButtonOptions"
                                                                class="btn btn-info waves-effect waves-light">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- /.modal -->

                                    <button id="addToTable" class="btn btn-primary waves-effect waves-light"
                                            data-toggle="modal" ng-click="clearData()" data-target="#con-close-modal-addNewVacancy">Add <i
                                            class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <form class="form-inline" style="float: right">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" ng-model="search" class="form-control"
                                                   placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th ng-click="sort('Title')">Title<span class="glyphicon sort-icon"
                                                                            ng-show="sortKey=='Title'"
                                                                            ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Number')">Number<span class="glyphicon sort-icon"
                                                                              ng-show="sortKey=='Number'"
                                                                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Description')">Description<span class="glyphicon sort-icon"
                                                                                        ng-show="sortKey=='Description'"
                                                                                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>

                                    <th ng-click="sort('Timestamp')">Date<span class="glyphicon sort-icon"
                                                                               ng-show="sortKey=='Timestamp'"
                                                                               ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="vacancy in vacancies | orderBy:sortKey:reverse | filter:search|itemsPerPage:10">
                                    <th scope="row">{{vacancy.Title}}</th>
                                    <td>{{vacancy.Number}}</td>
                                    <td>{{vacancy.Description}}</td>
                                    <td>{{vacancy.Timestamp | date}}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-warning waves-effect w-sm waves-light m-b-5"
                                                ng-click="edit(vacancy)" data-toggle="modal"
                                                data-target="#con-close-modal-editVacancy">Edit
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger waves-effect w-sm waves-light m-b-5"
                                                ng-click="delete(vacancy)" data-toggle="modal"
                                                data-target="#con-close-modal-deleteVacancy">Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div><!-- end col -->

            </div>

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
