<div class="text-center logo-alt-box">
    <a href="index.html" class="logo"><img width="25%" ng-src="app/../assets/images/logo_right_noBck.png"/></a>
</div>

<div class="wrapper-page">

    <div class="m-t-30 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Reset Password</h4>
            <p>All fields marked with * are mandatory.</p>
            <p class="text-muted m-b-0 font-13 m-t-20">Enter your mobile number and we'll send you an sms with instructions to reset your password.  </p>

        </div>
        <div class="panel-body">
            <form ng-submit="onFormSubmit($event)">
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label">*Mobile Number</div>
                        <div class="dx-field-value">
                            <div dx-text-box="forgotPasswordInput.mobileNumber" ng-model="user.MobileNumberDirtyB"
                                 dx-validator="mobileNumberValidationRules" required=""></div>
                        </div>
                    </div>

                    <br>
                    <div id="summary" dx-validation-summary="{ }"></div>
                    <br>
                    <div id="button"
                         class="btn btn-custom btn-bordred btn-block waves-effect waves-light text-uppercase"
                         dx-button="submitButtonOptions"></div>
                </div>
            </form>

        </div>
    </div>
    <!-- end card-box -->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Already have account?<a href="#!/login" class="text-primary m-l-5"><b>LOGIN</b></a></p>
        </div>
    </div>

</div>
<!-- end wrapper page -->