/*
Author       : Themes_Mountain.
Template Name: Tollfree - App template
Version      : 1.0
*/
/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. START BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME DESIGN
    04. START ABOUT DESIGN
    05. START APP SCREENSHOT DESIGN
    06. START COUNT DOWN DESIGN
    07. START PROMOTION DESIGN
    08. START FOOTER DESIGN
  =============================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
body {
    font-family: 'Cousine',sans-serif;
    font-size: 13px;
    color: #777;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
	
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px;
  margin-top: 0px;
  font-family: "Montserrat",sans-serif;
  color: #333;
  font-weight: 400;
}
p {
    line-height: 2;
    margin-bottom: 0;
}
a {
font-family: "Montserrat",sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 5px solid rgba(0, 0, 0, 0.08);
    border-right: 5px solid rgba(0, 0, 0, 0.08);
    border-bottom: 5px solid rgba(0, 0, 0, 0.08);
    border-left: 5px solid #00af22;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title { margin-bottom: 60px }
.section-title  h2 {
font-size: 24px;
font-weight: 600;
margin: 0;
position: relative;
text-transform: uppercase;
}
.section-title  h2 strong{color:#00af22;}
.section-title h5{
color: #777;
font-size: 18px;
font-weight: 500;
}
.section-title span {
background: #00af22 none repeat scroll 0 0;
display: block;
height: 2px;
margin: 20px auto;
overflow: hidden;
position: relative;
width: 50px;
}
.section-title-white{color:#fff;}
/*END SECTION TITLE DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
background: #00af22 none repeat scroll 0 0;
border-radius: 5px;
bottom: 5px;
box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
color: #fff;
cursor: pointer;
font-size: 22px;
height: 35px;
line-height: 33px;
opacity: 1;
position: fixed;
right: 5px;
text-align: center;
transition: all 0.2s ease 0s;
width: 35px;
}
.topcontrol:hover {
    background: #222;
    color: #fff;
}
/*END SCROLL TO TOP*/
.btn-light-bg{
background: #e0e0e0 none repeat scroll 0 0;
border-radius: 0;
color: #202020;
font-size: 12px;
letter-spacing: 2px;
outline: medium none !important;
padding: 15px 27px;
text-transform: uppercase;
transition: all 0.2s ease 0s;
}
.btn-light-bg:hover, .btn-light-bg:focus{
background: #00af22 none repeat scroll 0 0;
color:#fff;
}
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 04.START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.navbar-default {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border-color: currentcolor currentcolor rgba(174, 174, 174, 0.3);
border-image: none;
border-radius: 0;
border-style: none none solid;
border-width: medium medium 1px;
margin-bottom: 0;
padding: 20px;
transition: all 0.4s ease-in-out 0s;
width: 100%;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #171717 !important;
    background-color: transparent;
}
.navbar-brand {
color: #fff !important;
font-size: 24px;
padding: 15px;
}
@media only screen and (max-width:480px) { 
.navbar-brand {color: #333 !important;}
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #fff }
.menu-top li a {
color: #fff !important;
font-family: montserrat,sans-serif;
font-size: 12px;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
}
.menu-top li a:hover { color: #fff!important }
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
}
@media only screen and (max-width:480px) { 
    .menu-top { background-color: #fff }
    .navbar-default .navbar-nav > li > a { color: #313131  !important }
}
.navbar-default.menu-shrink {
background:#fff;
padding: 10px 0;
width: 100%;
 margin-top:0px
}
@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
.navbar-default.menu-shrink .navbar-brand{color:#00af22!important;}
.navbar-default.menu-shrink li a {color: rgba(0, 0, 0, 0.6) !important; }
.navbar-default.menu-shrink li a:hover { color: #00af22 !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #00af22 }
/*
* ----------------------------------------------------------------------------------------
* 04.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
.home_bg {
    height: 700px;
    position: relative;
}
@media only screen and (max-width:768px) { 
.home_bg {height: 1048px;}
}

@media only screen and (max-width:480px) { 
.home_bg {height: 1150px;}
}
@media only screen and (max-width:414px) { 
.home_bg {height: 1150px;}
}
@media only screen and (max-width:375px) { 
.home_bg {height: 1150px;}
}

@media only screen and (max-width:360px) { 
.home_bg {height: 1100px;}
}
@media only screen and (max-width:320px) { 
.home_bg {height: 1100px;}
}
.home_bg:before {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 100%;
    filter: alpha(opacity=80);
    position: absolute;
    width: 100%;
}
.hero-text h2 {
color: #fff;
font-size: 50px;
font-weight: 400;
letter-spacing: 0;
line-height: 64px;
padding-top: 200px;
text-transform: capitalize;
}
@media only screen and (max-width:768px) { 
.hero-text h2 {
font-size: 40px;
line-height: 46px;
}
}
@media only screen and (max-width:480px) { 
    .hero-text h2 {
		padding-top: 200px;
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (max-width:360px) { 
    .hero-text h2 {
        font-size: 26px;
        line-height: 34px;
    }
}
.hero-text p {
    color: #fff;

}
.home_btn{
margin-left: -10px;
margin-top: 30px;
}
.home_btn a {
background: transparent none repeat scroll 0 0;
border: 2px solid #fff;
border-radius: 50px;
color: #fff;
display: inline-block;
margin: 0 10px 15px;
padding: 10px 30px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
}
.home_btn a:hover{
background:#fff;color:#333;
}
.home_btn a i{
font-size: 20px;
margin-right: 5px;
vertical-align: middle;
}

.hero-text-img {
    padding-top: 150px;
}
.hero-text-img img {
height: 550px;
width: 450px;
}
@media only screen and (max-width:768px) { 
.hero-text-img{padding-top: 150px; }
}
@media only screen and (max-width:480px) { 
.hero-text-img{
display: inline-block;
padding-top: 60px;
}
.hero-text-img img {width: 100%;height:auto;}
}
@media only screen and (max-width:414px) { 
.hero-text-img{padding-top: 118px;height:auto; }
}
@media only screen and (max-width:375px) { 
.hero-text-img{padding-top: 108px;height:auto; }
}
@media only screen and (max-width:360px) { 
.hero-text-img{padding-top: 80px;height:auto; }
}
@media only screen and (max-width:320px) { 
.hero-text-img{padding-top: 80px; height:auto;}
}
/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 04.START ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/
.feature{padding-top:60px;padding-bottom:0px;}
.about_single {
margin-bottom: 60px;
}
@media only screen and (max-width:768px) { 
    .about_single { margin-bottom: 30px }
}
.about_single_img{
background: #1f1f1f none repeat scroll 0 0;
border: 5px solid #fff;
border-radius: 50%;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
color: #c6a561;
font-size: 42px;
height: 115px;
line-height: 110px;
margin: auto auto 20px;
transition: all 0.3s ease 0s;
width: 115px;
}
.about_single_img  img {
  height: 45px;
  width: 45px;
}
.about_single:hover .about_single_img{background:#f5f5f5;}
.about_single h4 {
color: #333;
font-weight: 600;
margin-top: 10px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
font-size: 15px;
}
.about_single:hover h4 { color: #00af22 }
@media only screen and (max-width:480px) { 
    .about_single { margin-bottom: 40px }
}
@media only screen and (max-width:768px) { 
    .about_single h4 { font-size: 15px }
}
/*
* ----------------------------------------------------------------------------------------
* 04.END ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 05.START APP SCREENSHOT DESIGN
* ----------------------------------------------------------------------------------------
*/
.sin-screenshot { z-index: 9 }
.sin-screenshot a {
    display: block;
    position: relative;
}
.sin-screenshot a:before {
    background: #24141e none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    right: 0;
    top: 0;
}
.sin-screenshot a:hover:before {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.screenshot-carousel { z-index: 9 }
.screenshot-carousel img { width: 100% }
/*
* ----------------------------------------------------------------------------------------
* 05.END APP SCREENSHOT DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 06.START COUNT DOWN DESIGN
* ----------------------------------------------------------------------------------------
*/
@media only screen and (max-width:768px) { 
.counter {margin-bottom: 30px;}
}
.single_counter{
background:#f9f9f9;
border-radius: 500px;
display: inline-block;
height: 200px;
margin-bottom: 10px;
position: relative;
width: 200px;
}
.counter h2 {
background:#fff;
border-radius: 500px;
color: #333;
font-size: 30px;
font-weight: 700;
height: 120px;
left: 50%;
line-height: 120px;
margin: auto;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
width: 120px;
}
.counter p {
color: #333;
font-family: montserrat,sans-serif;
text-transform: uppercase;
}
/*
* ----------------------------------------------------------------------------------------
* 06.END COUNT DOWN DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 07.START PROMOTION DESIGN
* ----------------------------------------------------------------------------------------
*/
.buy_now {
    background: #00af22 none repeat scroll 0 0;
    padding: 50px 0;
}
.buy_now_title {
color: #fff;
font-weight: 500;
margin: 0;
text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
    .buy_now_title { font-size: 22px }
}
@media only screen and (max-width:360px) { 
    .buy_now_title { font-size: 15px }
}
/*
* ----------------------------------------------------------------------------------------
* 07.END PROMOTION DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 08.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
background: #1a1a1a none repeat scroll 0 0;
padding: 60px 0;
border-top: 1px solid #262626;
}
.copyright p {
color: #fff;
margin-bottom: 0;
padding-bottom: 20px;
}
@media only screen and (max-width:480px) { 
.copyright p {text-align:center;}
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:480px) { 
.footer_social ul{text-align:center;}
}
.footer_social ul li { display: inline-block }
.footer_social ul li a {
border-radius: 30px;
color: #fff;
display: block;
font-size: 18px;
height: 45px;
line-height: 45px;
margin: 1px;
text-align: center;
transition: all 0.2s ease 0s;
width: 45px;
}
.footer_social ul li a:hover { background:#fff;color: #00af22 }
.f_facebook{background:#3B5998;}
.f_twitter{background:#1A90D9;}
.f_google{background:#FF5252;}
.f_linkedin{background:#0077B5;}
.f_youtube{background:#D32322;}
.f_skype{background:#1a90d9;}
/*END FOOTER SOCIAL DESIGN*/

/*
* ----------------------------------------------------------------------------------------
* 08.END FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/

