<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="m-t-30 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">{{Name}}</h4>

                    <div class="user-thumb m-t-20">
                        <img ng-src="{{LogoUrl}}" class="img-responsive img-circle img-thumbnail"
                             alt="Logo">
                    </div>
                    <p class="text-muted m-t-10">
                        {{Bio}}
                    </p>

                </div>
                <div class="panel-body">
                    <div class="dx-fieldset">


                        <div class="dx-field ">
                            <div class="dx-field-label">Name</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Name" dx-text-box="parentForm.Name"></div>
                            </div>
                        </div>


                        <div class="dx-field">
                            <div class="dx-field-label">Email</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Email" dx-text-box="parentForm.Email"></div>
                            </div>
                        </div>


                        <div class="dx-field ">
                            <div class="dx-field-label">Logo</div>
                            <div class="dx-field-value">
                                <div class="uploader" required=""
                                     ng-model="data.LogoUrl" dx-file-uploader="{
                                                multiple: false,
                                                selectButtonText: 'Select Logo Image',
                                                labelText: 'or Drop Here',
                                                progress:0,
                                                uploadMode: 'useButtons',
                                                uploadUrl: '{{baseurl}}api/Upload/School/SchoolLogo'
                                            }"></div>
                            </div>
                        </div>


                        <div class="dx-field">
                            <div class="dx-field-label">County</div>
                            <div class="dx-field-value">
                                <div ng-model="data.County.Name" dx-text-box="parentForm.Email"></div>
                            </div>
                        </div>


                        <div class="dx-field ">
                            <div class="dx-field-label">Location</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Location.Name" dx-text-box="parentForm.Name"></div>
                            </div>
                        </div>


                        <div class="dx-field">
                            <div class="dx-field-label">Boarding</div>
                            <div class="dx-field-value">
                                <div ng-model="data.SchoolType.Boarding" dx-check-box="parentForm.Boarding"></div>
                            </div>
                        </div>

                        <div class="dx-field">
                            <div class="dx-field-label">Category</div>
                            <div class="dx-field-value">
                                <div ng-model="data.SchoolType.Category"
                                     dx-lookup="SchoolCategory.Category"></div>
                            </div>
                        </div>

                        <div class="dx-field">
                            <div class="dx-field-label">Gender</div>
                            <div class="dx-field-value">
                                <div ng-model="data.SchoolType.Gender"
                                     dx-lookup="SchoolGender.Gender"></div>
                            </div>
                        </div>

                        <div class="dx-field ">
                            <div class="dx-field-label">Motto</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Motto" dx-text-box="parentForm.Motto"></div>
                            </div>
                        </div>

                        <div class="dx-field ">
                            <div class="dx-field-label">Vision</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Vission" dx-text-box="parentForm.Vission"></div>
                            </div>
                        </div>

                        <div class="dx-field ">
                            <div class="dx-field-label">Mission</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Mission" dx-text-box="parentForm.Mission"></div>
                            </div>
                        </div>

                        <div class="dx-field ">
                            <div class="dx-field-label">Bio</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Bio" dx-text-box="parentForm.Bio"></div>
                            </div>
                        </div>

                        <div class="dx-field ">
                            <div class="dx-field-label">Address</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Address" dx-text-box="parentForm.Address"></div>
                            </div>
                        </div>

                        <div class="dx-field ">
                            <div class="dx-field-label">PostalCode</div>
                            <div class="dx-field-value">
                                <div ng-model="data.PostalCode" dx-text-box="parentForm.PostalCode"></div>
                            </div>
                        </div>

                        <div class="dx-field ">
                            <div class="dx-field-label">Phone</div>
                            <div class="dx-field-value">
                                <div ng-model="data.Phone" dx-text-box="parentForm.Phone"></div>
                            </div>
                        </div>


                    </div>
                    <form class="form-horizontal">

                        <div class="form-group text-center m-t-20 m-b-0">
                            <div class="col-xs-12">
                                <button ng-disabled="updateBtn" ng-click="update(data)"
                                        class="btn btn-custom btn-bordred btn-block waves-effect waves-light text-uppercase"
                                        type="submit">Update
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
