<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Events</h4>
                    <p>*Double click to add new event.</p>
                </div>
            </div>

            <div class="row">
                <div dx-scheduler="schedulerOptions"></div>

            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
