<div class="text-center logo-alt-box">
    <a href="index.html" class="logo"><img width="25%" ng-src="app/../assets/images/logo_right_noBck.png"/></a>
</div>

<div class="wrapper-page">

    <div class="m-t-30 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Register New School</h4>
        </div>
        <div class="panel-body">


            <wizard on-finish="finishedWizard()">
                <wz-step wz-title="Administrator">
                    <div class="text-center">
                        <h5 class="text-uppercase font-bold m-b-0">Register School Administrator</h5>
                        <p>All fields marked with * are mandatory.</p>
                    </div>

                    <form ng-submit="onFormSubmit($event)">

                        <div class="form">
                            <div class="dx-fieldset">
                                <div class="dx-field">
                                    <div class="dx-field-label">*First Name</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="adminRegisterInput.FirstName" ng-model="user.FirstName"
                                             dx-validator="firstNameValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">Second Name</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="adminRegisterInput.SecondName" ng-model="user.SecondName"
                                              required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*SurName</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="adminRegisterInput.SurName" ng-model="user.SurName"
                                             dx-validator="surNameValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Mobile Number</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="adminRegisterInput.mobileNumber" ng-model="user.MobileNumberDirtyB"
                                             dx-validator="mobileNumberValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Password</div>
                                    <div class="dx-field-value">
                                        <div id="password-validation" ng-model="user.Password"
                                             dx-text-box="{ mode: 'password', showClearButton: true }"
                                             dx-validator="passwordValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Confirm Password</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="{ mode: 'password', showClearButton: true }"
                                             dx-validator="confirmPasswordValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Gender</div>
                                    <div class="dx-field-value">
                                        <div ng-model="user.Gender" dx-select-box="{ dataSource: Gender }"
                                             dx-validator="genderValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div id="check" dx-check-box="{
                value: false,
                text: 'I agree to the Terms and Conditions'}"
                                         dx-validator="checkValidationRules">
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div id="summary" dx-validation-summary="{ }"></div>
                                </div>

                                <div class="dx-field">
                                    <div id="button"
                                         class="btn btn-custom btn-bordred btn-block waves-effect waves-light text-uppercase"
                                         dx-button="submitButtonOptions"></div>
                                </div>




                            </div>
                        </div>
                    </form>
                </wz-step>
                <wz-step wz-title="School">
                    <div class="text-center">
                        <h5 class="text-uppercase font-bold m-b-0">Register School</h5>
                        <p>All fields marked with * are mandatory.</p>
                    </div>
                    <form ng-submit="onFormSubmitSchool($event)">
                        <div class="form">
                            <div class="dx-fieldset">
                                <div class="dx-field">
                                    <div class="dx-field-label">*School Name</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="schoolRegisterInput.Name" ng-model="school.Name"
                                             dx-validator="schoolNameValidationRules" required=""></div>
                                    </div>
                                </div>


                                <div class="uploader" required=""  ng-model="logoObject.logo" dx-file-uploader="{
                                                multiple: false,
                                                selectButtonText: '*Select School Logo',
                                                labelText: 'or Drop School Logo Here',
                                                progress:0,
                                                uploadMode: 'useButtons',
                                                uploadUrl: '{{baseurl}}api/Upload/School/SchoolLogo'
                                            }"></div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Bio</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="schoolRegisterInput.bio" required="" ng-model="school.Bio" dx-validator="bioValidationRules"></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*School Category</div>
                                    <div class="dx-field-value">
                                        <div ng-model="school.SchoolCategory" dx-select-box="{ dataSource: SchoolCategories }"
                                             dx-validator="schoolCategoryValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Boarding</div>
                                    <div class="dx-field-value">
                                        <div ng-model="school.Boarding" dx-select-box="{ dataSource: ['True', 'False'] }"
                                             dx-validator="boardingValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Gender</div>
                                    <div class="dx-field-value">
                                        <div ng-model="school.SchoolGender" dx-select-box="{ dataSource: GenderSchools }"
                                             dx-validator="genderValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Mission</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="schoolRegisterInput.Mission" ng-model="school.Mission"
                                             dx-validator="missionValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Vision</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="schoolRegisterInput.Vission" ng-model="school.Vission"
                                             dx-validator="visionValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Motto</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="schoolRegisterInput.Motto" ng-model="school.Motto"
                                             dx-validator="mottoValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Mobile Number</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="schoolRegisterInput.mobileNumber" ng-model="school.PhoneDirtyB"
                                             dx-validator="mobileNumberValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Email</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="schoolRegisterInput.Email" ng-model="school.Email"
                                             dx-validator="emailValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div id="summary" dx-validation-summary="{ }"></div>
                                </div>

                                <div class="dx-field">
                                    <div id="button3"
                                         class="btn btn-custom btn-bordred btn-block waves-effect waves-light text-uppercase"
                                         dx-button="submitSchoolButtonOptions"></div>
                                </div>

                            </div>


                        </div>

                    </form>

                </wz-step>
            </wizard>


        </div>
    </div>
    <!-- end card-box -->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Already have account?<a href="#!login" class="text-primary m-l-5"><b>LOGIN</b></a>
            </p>
        </div>
    </div>

</div>
<!-- end wrapper page -->




