<div class="text-center logo-alt-box">
    <a href="index.html" class="logo"><img width="25%" ng-src="app/../assets/images/logo_right_noBck.png"/></a>
</div>

<div class="wrapper-page">


    <div class="card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
            <p>All fields marked with * are mandatory.</p>
        </div>
        <form ng-submit="onFormSubmit($event)">
            <div class="form">
                <div class="dx-fieldset">

                    <div class="dx-field">
                        <div class="dx-field-label">*Mobile Number</div>
                        <div class="dx-field-value">
                            <div dx-text-box="loginInput.mobileNumber" ng-model="user.MobileNumberDirtyB"
                                 dx-validator="mobileNumberValidationRules" required=""></div>
                        </div>
                    </div>

                    <div class="dx-field">
                        <div class="dx-field-label">*Password</div>
                        <div class="dx-field-value">
                            <div dx-text-box="loginInput.password" ng-model="user.Password"
                                 dx-validator="passwordValidationRules" required=""></div>
                        </div>
                    </div>

                    <div class="dx-field col-md-6" style="float: right">
                        <div class="dx-field-label">Remember Me</div>
                        <div class="dx-field-value">
                            <div name="remember" data-ng-click="rememberMe()" data-ng-model="remember" dx-check-box="loginInput.rememberMe"></div>
                        </div>
                    </div>
                    <br>
                    <div id="summary" dx-validation-summary="{ }"></div>
                    <br>
                    <div id="button"
                         class="btn btn-custom btn-bordred btn-block waves-effect waves-light text-uppercase"
                         dx-button="submitButtonOptions"></div>

                </div>
            </div>
        </form>
    </div>
    <!-- end card-box -->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Don't have an account? <a href="#!register" class="text-primary m-l-5"><b>CREATE ACCOUNT</b></a></p>
            <p class="text-muted"><a href="#!forgotPassword" class="text-primary m-l-5"><b>FORGOT PASSWORD?</b></a></p>
        </div>
    </div>

</div>
<!-- end wrapper page -->
