<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Subjects</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="col-sm-12">
                                    <div id="con-close-modal-viewSubjectResults" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog" style="width: 80%">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">View Results</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="card-box-results">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="m-b-30">

                                                                            <div id="con-close-modal-deleteSubjectScore"
                                                                                 class="modal fade" tabindex="-1"
                                                                                 role="dialog"
                                                                                 aria-labelledby="myModalLabel"
                                                                                 aria-hidden="true"
                                                                                 style="display: none;">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-hidden="true">×
                                                                                            </button>
                                                                                            <h4 class="modal-title">
                                                                                                Delete
                                                                                                Subject Score</h4>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <div class="row">
                                                                                                <p>Are you sure you want
                                                                                                    to
                                                                                                    delete?</p>

                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button"
                                                                                                    class="btn btn-default waves-effect"
                                                                                                    data-dismiss="modal">
                                                                                                Close
                                                                                            </button>
                                                                                            <button type="button"
                                                                                                    ng-click="saveDelete()"
                                                                                                    class="btn btn-danger waves-effect waves-light">
                                                                                                Delete
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div id="con-close-modal-editSubjectScore"
                                                                                 class="modal fade" tabindex="-1"
                                                                                 role="dialog"
                                                                                 aria-labelledby="myModalLabel"
                                                                                 aria-hidden="true"
                                                                                 style="display: none;">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-hidden="true">×
                                                                                            </button>
                                                                                            <h4 class="modal-title">Edit
                                                                                                Subject
                                                                                                Score</h4>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <div class="row">
                                                                                                <div class="dx-fieldset">

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            Select
                                                                                                            Student
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.StudentId"
                                                                                                                 dx-lookup="addStudentLU.studentLookup"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            Select
                                                                                                            Subject
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.SubjectId"
                                                                                                                 dx-lookup="addSubjectLU.subjectLookup"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            Select Exam
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.ExamId"
                                                                                                                 dx-lookup="addExamLU.examLookup"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            Subject
                                                                                                            Title
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.Title"
                                                                                                                 dx-text-box="subjectScoreEditForm.Title"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            Term
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.Term"
                                                                                                                 dx-lookup="Term.Type"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            Score
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.Score"
                                                                                                                 dx-text-box="subjectScoreEditForm.Score"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            TotalScore
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.TotalScore"
                                                                                                                 dx-text-box="subjectScoreEditForm.TotalScore"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            Grade
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.Grade"
                                                                                                                 dx-text-box="subjectScoreEditForm.Grade"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="dx-field">
                                                                                                        <div class="dx-field-label">
                                                                                                            TeacherRemarks
                                                                                                        </div>
                                                                                                        <div class="dx-field-value">
                                                                                                            <div ng-model="data.TeacherRemarks"
                                                                                                                 dx-text-box="subjectScoreEditForm.TeacherRemarks"></div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button"
                                                                                                    class="btn btn-default waves-effect"
                                                                                                    data-dismiss="modal">
                                                                                                Close
                                                                                            </button>
                                                                                            <button type="button"
                                                                                                    ng-click="saveEdit(data)"
                                                                                                    class="btn btn-info waves-effect waves-light">
                                                                                                Save changes
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <!-- /.modal -->


                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="m-b-30">
                                                                            <form class="form-inline"
                                                                                  style="float: right">
                                                                                <div class="form-group">
                                                                                    <label>Search</label>
                                                                                    <input type="text" ng-model="search"
                                                                                           class="form-control"
                                                                                           placeholder="Search">
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                        <tr>
                                                                            <th ng-click="sort('Title')">Title<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Title'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('Student')">Student<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Student'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('Exam')">Exam<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Exam'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('Subject')">Subject<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Subject'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('Score')">Score<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Score'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('Grade')">Grade<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Grade'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('Term')">Term<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Term'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('TotalScore')">Total
                                                                                Score<span
                                                                                        class="glyphicon sort-icon"
                                                                                        ng-show="sortKey=='TotalScore'"
                                                                                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th ng-click="sort('Timestamp')">Date<span
                                                                                    class="glyphicon sort-icon"
                                                                                    ng-show="sortKey=='Timestamp'"
                                                                                    ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                            </th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr dir-paginate="subjectScore in subjectScores | orderBy:sortKey:reverse | filter:search|itemsPerPage:10"
                                                                            pagination-id="subjectScore">
                                                                            <th scope="row">{{subjectScore.Title}}</th>
                                                                            <td>{{subjectScore.Student}}</td>
                                                                            <td>{{subjectScore.Exam}}</td>
                                                                            <td>{{subjectScore.Subject}}</td>
                                                                            <td>{{subjectScore.Score}}</td>
                                                                            <td>{{subjectScore.Grade}}</td>
                                                                            <td>{{subjectScore.Term}}</td>
                                                                            <td>{{subjectScore.TotalScore}}</td>
                                                                            <td>{{subjectScore.Timestamp | date}}</td>
                                                                            <td>
                                                                                <button type="button"
                                                                                        class="btn btn-warning waves-effect w-sm waves-light m-b-5"
                                                                                        ng-click="edit(subjectScore)"
                                                                                        data-toggle="modal"
                                                                                        data-target="#con-close-modal-editSubjectScore">
                                                                                    Edit
                                                                                </button>
                                                                                <button type="button"
                                                                                        class="btn btn-danger waves-effect w-sm waves-light m-b-5"
                                                                                        ng-click="delete(subjectScore)"
                                                                                        data-toggle="modal"
                                                                                        data-target="#con-close-modal-deleteSubjectScore">
                                                                                    Delete
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                                <dir-pagination-controls
                                                                        max-size="5"
                                                                        direction-links="true"
                                                                        boundary-links="true"
                                                                        pagination-id="subjectScore">
                                                                </dir-pagination-controls>

                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="m-b-30">

                                    <div id="con-close-modal-deleteSubject" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Delete Subject</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <p>Are you sure you want to delete?</p>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveDeleteSubject()"
                                                            class="btn btn-danger waves-effect waves-light">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-editSubject" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Edit Subject</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="dx-fieldset">
                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Name</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Name"
                                                                         dx-text-box="parentFormEdit.Name"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Description</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.Description"
                                                                         dx-text-box="parentFormEdit.Description"></div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveEditSubjectChanges()"
                                                            class="btn btn-info waves-effect waves-light">
                                                        Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-addNewSubject" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Add New Subject</h4>
                                                </div>
                                                <form ng-submit="onFormSubmitSubjectAdd($event)">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="dx-fieldset">
                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Name"
                                                                             dx-validator="subjectNameValidationRules"
                                                                             dx-text-box="parentForm.Name"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Description</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Description"
                                                                             dx-validator="subjectDescriptionValidationRules"
                                                                             dx-text-box="parentForm.Description"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div id="summarySubject"
                                                                         dx-validation-summary="{ }"></div>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button dx-button="submitButtonOptionsAddSubject"
                                                                class="btn btn-info waves-effect waves-light">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-addNewSubjectScore" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Add New Subject Score</h4>
                                                </div>
                                                <form ng-submit="onFormSubmitAddNewSubjectScore($event)">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="dx-fieldset">

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Select Student</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.StudentId"
                                                                             dx-validator="studentValidationRules"
                                                                             dx-lookup="addStudentLU.studentLookup"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Select Subject</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.SubjectId"
                                                                             dx-validator="subjectValidationRules"
                                                                             dx-lookup="addSubjectLU.subjectLookup"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Select Exam</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.ExamId"
                                                                             dx-validator="examValidationRules"
                                                                             dx-lookup="addExamLU.examLookup"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Subject Title</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Title"
                                                                             dx-validator="titleValidationRules"
                                                                             dx-text-box="subjectScoreForm.Title"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Term</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Term"
                                                                             dx-validator="termValidationRules"
                                                                             dx-lookup="Term.Type"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Score</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Score"
                                                                             dx-validator="scoreValidationRules"
                                                                             dx-text-box="subjectScoreForm.Score"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">TotalScore</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.TotalScore"
                                                                             dx-validator="totalScoreValidationRules"
                                                                             dx-text-box="subjectScoreForm.TotalScore"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Grade</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.Grade"
                                                                             dx-validator="gradeValidationRules"
                                                                             dx-text-box="subjectScoreForm.Grade"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">TeacherRemarks</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.TeacherRemarks"
                                                                             dx-validator="teacherRemarksValidationRules"
                                                                             dx-text-box="subjectScoreForm.TeacherRemarks"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div id="summary" dx-validation-summary="{ }"></div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button"
                                                                dx-button="submitButtonOptionsAddSubjectScore"
                                                                class="btn btn-info waves-effect waves-light">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- /.modal -->

                                    <button id="addToTable" class="btn btn-primary waves-effect waves-light"
                                            data-toggle="modal" ng-click="clearData()"
                                            data-target="#con-close-modal-addNewSubject">Add <i
                                            class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <form class="form-inline" style="float: right">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" ng-model="search" class="form-control"
                                                   placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th ng-click="sort('Name')">Name<span class="glyphicon sort-icon"
                                                                          ng-show="sortKey=='Name'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Description')">Description<span class="glyphicon sort-icon"
                                                                                        ng-show="sortKey=='Description'"
                                                                                        ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Timestamp')">Date<span class="glyphicon sort-icon"
                                                                               ng-show="sortKey=='Timestamp'"
                                                                               ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Results</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="subject in subjects | orderBy:sortKey:reverse | filter:search|itemsPerPage:10 "
                                    pagination-id="subject">
                                    <th scope="row">{{subject.Name}}</th>
                                    <td>{{subject.Description}}</td>
                                    <td>{{subject.Timestamp | date}}</td>
                                    <td>
                                        <button id="addToTable"
                                                class="btn btn-primary waves-effect waves-light m-b-5"
                                                data-toggle="modal" ng-click="clearData()"
                                                data-target="#con-close-modal-addNewSubjectScore">Add
                                        </button>
                                        <button type="button"
                                                class="btn btn-success waves-effect w-sm waves-light m-b-5"
                                                data-toggle="modal" ng-click="filterData(subject)"
                                                data-target="#con-close-modal-viewSubjectResults">View
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-warning waves-effect w-sm waves-light m-b-5"
                                                ng-click="editSubject(subject)" data-toggle="modal"
                                                data-target="#con-close-modal-editSubject">Edit
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger waves-effect w-sm waves-light m-b-5"
                                                ng-click="deleteSubject(subject)" data-toggle="modal"
                                                data-target="#con-close-modal-deleteSubject">Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true"
                                pagination-id="subject">
                        </dir-pagination-controls>
                    </div>
                </div><!-- end col -->

            </div>

            <br>
            <br>


        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
