<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Uploader</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">

                        <h4 class="header-title m-t-0 m-b-30">Excel Templates</h4>
                        <div class="button-list">

                            <button class="btn btn-custom waves-effect waves-light"><a
                                    href="uploader/Sample%20Student%20Data.xlsx" style="color: white">Students Sample
                                Data</a></button>
                            <button class="btn btn-custom waves-effect waves-light"><a
                                    href="uploader/Sample%20Event%20Data.xlsx" style="color: white">Events Sample
                                Data</a></button>
                            <button class="btn btn-custom waves-effect waves-light"><a
                                    href="uploader/Sample%20Fee%20Data.xlsx" style="color: white">Fees Sample Data</a>
                            </button>
                            <button class="btn btn-custom waves-effect waves-light"><a
                                    href="uploader/Sample%20Exam%20Data.xlsx" style="color: white">Exams Sample Data</a>
                            </button>
                            <button class="btn btn-custom waves-effect waves-light"><a
                                    href="uploader/Sample%20Subject%20Data.xlsx" style="color: white">Subjects Sample
                                Data</a></button>

                        </div>

                    </div>
                </div><!-- end col -->

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">Select Data Type</h4>
                        &nbsp;
                        <div ng-model="selection.Selected" dx-select-box="typesOptions"></div>
                        <br>
                        <div class="form-group clearfix">
                            <input type="file" name="file" class="form-control"
                                   onchange="angular.element(this).scope().loadFile(this.files)"/>
                        </div>


                        <br>
                        <input ng-disabled="uploadButton" type="button" value="Upload Data"
                               class="btn btn-default center"
                               ng-click="handleFile()"/>
                        <br>

                    </div>
                </div><!-- end col -->
                <div class="col-md-6">
                    <div class="card-box">
                        <h2 class="header-title m-t-0 m-b-30">Upload Instructions</h2>
                        <ol style="font-size: medium">
                            <li>Select Data Type to upload</li>
                            <li>Download sample template</li>
                            <li>Create an excel file following the template</li>
                            <li>Choose the file</li>
                            <li>Upload the file and view the results</li>
                        </ol>
                    </div>
                </div><!-- end col -->

            </div>

            <!--

            <div class="row">
                <div class="col-md-6">
                    <div class="card-box">
                        &nbsp;<h4 class="header-title m-t-0 m-b-30">Successful uploads</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th ng-repeat="(header, value) in resultDataSuccess[0]">
                                        {{header}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in resultDataSuccess">
                                    <td ng-repeat="cell in row">
                                        {{cell}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">Failed Uploads</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th ng-repeat="(header, value) in resultDataFailed[0]">
                                        {{header}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in resultDataFailed">
                                    <td ng-repeat="cell in row">
                                        {{cell}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col

            </div>

            -->
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
