<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Students</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">

                                    <div id="con-close-modal-deleteStudent" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Delete Student</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <p>Are you sure you want to delete?</p>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveDelete()"
                                                            class="btn btn-danger waves-effect waves-light">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-editStudent" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Edit Student</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="dx-fieldset">
                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Select Parent</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.ParentId"
                                                                         dx-lookup="addStudent.parentLookup"></div>
                                                                </div>
                                                            </div>
                                                            <div class="dx-field">
                                                                <div class="dx-field-label">First Name</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.FirstName"
                                                                         dx-text-box="parentFormEdit.FirstName"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Second Name</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.SecondName"
                                                                         dx-text-box="parentFormEdit.SecondName"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Sur Name</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.SurName"
                                                                         dx-text-box="parentFormEdit.SurName"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Class Level</div>
                                                                <div class="dx-field-value">
                                                                    <div ng-model="data.ClassLevel"
                                                                         dx-text-box="parentFormEdit.ClassLevel"></div>
                                                                </div>
                                                            </div>

                                                            <div class="dx-field">
                                                                <div class="dx-field-label">Image</div>
                                                                <div class="dx-field-value">
                                                                    <div class="uploader" required=""
                                                                         ng-model="data.ImgUrl" dx-file-uploader="{
                                                multiple: false,
                                                selectButtonText: 'Select Student Image',
                                                labelText: 'or Drop Student Image Here',
                                                progress:0,
                                                uploadMode: 'useButtons',
                                                uploadUrl: '{{baseurl}}api/Upload/School/SchoolLogo'
                                            }"></div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default waves-effect"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" ng-click="saveEdit()"
                                                            class="btn btn-info waves-effect waves-light">
                                                        Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal-addNewStudent" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                                         style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h4 class="modal-title">Add New Student</h4>
                                                </div>
                                                <form ng-submit="onFormSubmitAdd($event)" >
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="dx-fieldset">

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">New Parent?</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="newParent"
                                                                             dx-check-box="checked"></div>
                                                                    </div>
                                                                </div>

                                                                <p style="text-align: center" ng-hide="newParent">Select
                                                                    Parent</p>

                                                                <div class="dx-field" ng-hide="newParent">
                                                                    <div class="dx-field-label">Select Parent</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.ParentId" dx-validator="selectParentValidationRules"
                                                                             dx-lookup="addStudent.parentLookup"></div>
                                                                    </div>
                                                                </div>

                                                                <p style="text-align: center" ng-show="newParent">Add
                                                                    New Parent</p>

                                                                <div class="dx-field" ng-show="newParent">
                                                                    <div class="dx-field-label">First Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.ParentFirstName" dx-validator="parentFirstNameValidationRules"
                                                                             dx-text-box="parentForm.ParentFirstName"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field" ng-show="newParent">
                                                                    <div class="dx-field-label">Second Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.ParentSecondName" dx-validator="parentSecondNameValidationRules"
                                                                             dx-text-box="parentForm.ParentSecondName"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field" ng-show="newParent">
                                                                    <div class="dx-field-label">Sur Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.ParentSurName" dx-validator="parentSurNameValidationRules"
                                                                             dx-text-box="parentForm.ParentSurName"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field" ng-show="newParent">
                                                                    <div class="dx-field-label">Mobile Number</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.ParentMobileNumberDirtyB" dx-validator="parentMobileNumberValidationRules"
                                                                             dx-text-box="parentForm.ParentMobileNumberDirty"></div>
                                                                    </div>
                                                                </div>

                                                                <p style="text-align: center">Student Info</p>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">First Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.FirstName"
                                                                             dx-validator="firstNameValidationRules"
                                                                             dx-text-box="parentForm.FirstName"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Second Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.SecondName" dx-validator="secondNameValidationRules"
                                                                             dx-text-box="parentForm.SecondName"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Sur Name</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.SurName" dx-validator="surNameValidationRules"
                                                                             dx-text-box="parentForm.SurName"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Class Level</div>
                                                                    <div class="dx-field-value">
                                                                        <div ng-model="data.ClassLevel" dx-validator="classLevelValidationRules"
                                                                             dx-lookup="schoolType.classLevelLookup"></div>
                                                                    </div>
                                                                </div>

                                                                <div class="dx-field">
                                                                    <div class="dx-field-label">Image</div>
                                                                    <div class="dx-field-value">
                                                                        <div class="uploader" required="" dx-validator="imageValidationRules"
                                                                             ng-model="data.ImgUrl" dx-file-uploader="{
                                                multiple: false,
                                                selectButtonText: 'Select Student Image',
                                                labelText: 'or Drop Student Image Here',
                                                progress:0,
                                                uploadMode: 'useButtons',
                                                uploadUrl: '{{baseurl}}api/Upload/School/SchoolLogo'
                                            }"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="dx-field">
                                                                    <div id="summary"
                                                                         dx-validation-summary="{ }"></div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="button" dx-button="submitButtonOptionsAdd"
                                                                class="btn btn-info waves-effect waves-light">
                                                            Save changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- /.modal -->

                                    <button id="addToTable" class="btn btn-primary waves-effect waves-light"
                                            data-toggle="modal" ng-click="clearData()" data-target="#con-close-modal-addNewStudent">Add <i
                                            class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <form class="form-inline" style="float: right">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" ng-model="search" class="form-control"
                                                   placeholder="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th ng-click="sort('FirstName')">First Name<span class="glyphicon sort-icon"
                                                                                     ng-show="sortKey=='FirstName'"
                                                                                     ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('SecondName')">Second Name<span class="glyphicon sort-icon"
                                                                                       ng-show="sortKey=='SecondName'"
                                                                                       ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('SurName')">Sur Name<span class="glyphicon sort-icon"
                                                                                 ng-show="sortKey=='SurName'"
                                                                                 ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Parent')">Parent<span class="glyphicon sort-icon"
                                                                              ng-show="sortKey=='Parent'"
                                                                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Image</th>
                                    <th ng-click="sort('ClassLevel')">Class<span class="glyphicon sort-icon"
                                                                                 ng-show="sortKey=='ClassLevel'"
                                                                                 ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('Timestamp')">Date<span class="glyphicon sort-icon"
                                                                               ng-show="sortKey=='Timestamp'"
                                                                               ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="student in students | orderBy:sortKey:reverse | filter:search|itemsPerPage:10">
                                    <th scope="row">{{student.FirstName}}</th>
                                    <td>{{student.SecondName}}</td>
                                    <td>{{student.SurName}}</td>
                                    <td>{{student.Parent}}</td>
                                    <td><img class="thumb-sm" src="{{student.ImgUrl}}"></td>
                                    <td>{{student.ClassLevel}}</td>
                                    <td>{{student.Timestamp | date}}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-warning waves-effect w-sm waves-light m-b-5"
                                                ng-click="edit(student)" data-toggle="modal"
                                                data-target="#con-close-modal-editStudent">Edit
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger waves-effect w-sm waves-light m-b-5"
                                                ng-click="delete(student)" data-toggle="modal"
                                                data-target="#con-close-modal-deleteStudent">Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div><!-- end col -->

            </div>

        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
