<!-- Begin page -->
<div id="wrapper">
    <div ng-include="'common/header.htm'"></div>

    <div ng-include="'common/sidebar.htm'"></div>
</div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div  class="row">
                <div class="col-sm-12">
                    <div class="btn-group pull-right m-t-5 m-b-20">
                        <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Help <span class="m-l-5"><i class="fa fa-question-circle-o"></i></span></button>
                    </div>
                    <h4  class="page-title">Dashboard</h4>
                </div>
            </div>

            <div class="row">
                <div id="step1" class="col-lg-4">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">Results</h4>


                        <div class="row text-center m-t-30">
                            <div class="col-xs-6">
                                <h3 data-plugin="counterup">{{TotalExams}}</h3>
                                <p class="text-muted text-overflow">Total Exams</p>
                            </div>
                            <div class="col-xs-6">
                                <h3 data-plugin="counterup">{{TotalStudents}}</h3>
                                <p class="text-muted text-overflow">Total Students</p>
                            </div>
                        </div>

                        <div class="text-center m-t-10">
                            <div id="pie" dx-pie-chart="chartResults"></div>
                        </div>
                    </div>
                </div><!-- end col -->

                <div id="step2" class="col-lg-4">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">Subjects</h4>

                        <div class="row text-center m-t-30">
                            <div class="col-xs-4">
                                <h3 data-plugin="counterup">{{BestSubject}}</h3>
                                <p class="text-muted text-overflow">Best Subject</p>
                            </div>
                            <div class="col-xs-4">
                                <h3 data-plugin="counterup">{{AllTimeBestScore}}</h3>
                                <p class="text-muted text-overflow" title="Open Compaign">All Time Best Score</p>
                            </div>
                            <div class="col-xs-4">
                                <h3 data-plugin="counterup">{{WorstSubject}}</h3>
                                <p class="text-muted text-overflow">Worst Subject</p>
                            </div>
                        </div>

                        <div id="chart" dx-chart="chartSubjects"></div>
                    </div>
                </div><!-- end col -->

                <div id="step3" class="col-lg-4">
                    <div class="card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <h4 class="header-title m-t-0">Finance</h4>

                        <div class="row text-center m-t-30">
                            <div class="col-xs-6">
                                <h3 data-plugin="counterup">Kes {{Paid}}</h3>
                                <p class="text-muted text-overflow">Total Paid</p>
                            </div>
                            <div class="col-xs-6">
                                <h3 data-plugin="counterup">Kes {{Unpaid}}</h3>
                                <p class="text-muted text-overflow">Total Unpaid</p>
                            </div>
                        </div>

                        <div id="chart" dx-chart="chartFinance"></div>
                    </div>
                </div><!-- end col -->

            </div>

            <div id="step4" class="row">
                <div  class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div  class="text-center">
                            <h2 class="text-custom" data-plugin="counterup">{{Students}}</h2>
                            <h5>Students</h5>
                        </div>
                    </div>
                </div>

                <div  class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div  class="text-center">
                            <h2 class="text-custom" data-plugin="counterup">{{Parents}}</h2>
                            <h5>Parents</h5>
                        </div>
                    </div>
                </div>

                <div  class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div  class="text-center">
                            <h2 class="text-custom" data-plugin="counterup">{{Events}}</h2>
                            <h5>Events</h5>
                        </div>
                    </div>
                </div>

                <div  class="col-lg-3 col-md-6">
                    <div class="card-box widget-user">
                        <div  class="text-center">
                            <h2 class="text-custom" data-plugin="counterup">{{Vacancies}}</h2>
                            <h5>Vacancies</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div id="step5" class="row">
                <div class="col-lg-4">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">Recent Events</h4>

                        <div class="inbox-widget nicescroll" style="height: 307px;">
                            <a href="javascript:void(0)" ng-repeat="LatestEvent in LatestEvents track by LatestEvent.ID">
                                <div class="inbox-item">
                                    <div class="inbox-item-img"></div>
                                    <p class="inbox-item-author">{{LatestEvent.Title}}</p>
                                    <p class="inbox-item-text">{{LatestEvent.Description}}</p>
                                    <p class="inbox-item-date">{{LatestEvent.Timestamp | date}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-8">
                    <div class="card-box">

                        <h4 class="header-title m-t-0 m-b-30">Latest Fee Transactions</h4>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Payment Method</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                    <th>Term</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="LatestFee in LatestFees track by LatestFee.ID">
                                    <td>{{LatestFee.StudentName}}</td>
                                    <td>{{LatestFee.PaymentMethod}}</td>
                                    <td>{{LatestFee.Amount}}</td>
                                    <td>{{LatestFee.Paid}}</td>
                                    <td ng-if="LatestFee.Balance > 0"><span class="label label-danger">{{LatestFee.Balance}}</span></td>
                                    <td ng-if="LatestFee.Balance == 0"><span class="label label-success">{{LatestFee.Balance}}</span></td>
                                    <td>{{LatestFee.Term}}</td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col -->

            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Content here -->
<!-- ============================================================== -->
