<div class="text-center logo-alt-box">
    <a href="index.html" class="logo"><img width="25%" ng-src="app/../assets/images/logo_right_noBck.png"/></a>
</div>

<div class="wrapper-page">


    <div class="card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Logging out...</h4>
        </div>
    </div>
    <!-- end card-box -->


</div>
<!-- end wrapper page -->
